* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: url("/Imagens/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flipMaster:hover {
    opacity: 0;
}

.flipMaster {
    transition: all 2s;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.flip-card {
    overflow: scroll;
    background-color: transparent;
    width: 350px;
    height: 500px;
    border: 1px solid #2e2e2e;
    border-radius: 20px;
    perspective: 1000px;
    backdrop-filter: blur(20px);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flip-card-front {
    background-color: transparent;
    color: black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.containerCentral {
    padding: 30px 30px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 12px 0;
}

.box2 {
    width: 100%;
    height: 100%;
    background: #2e2e2e;
    outline: none;
    border: 2px solid #5c5b5b;
    border-radius: 20px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 50px 20px 20px;
}

.flip-card-inner.flipado {
    transform: rotateY(180deg);
}

.box2::placeholder {
    color: #797676;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 6px;
}

.botao {
    border: 2px solid #5c5b5b;
    width: 70%;
    height: 50px;
    background: #2e2e2e;
    border-radius: 20px;
    color: #c7c7c7;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
}

a {
    color: #c7c7c7;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
}


.flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#voltarRegistro {
    color: #c7c7c7;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 14px;
}