.flipMaster {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    opacity: 1;
    transition: opacity 2s ease;
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 500px;
    border: 1px solid #2e2e2e;
    border-radius: 20px;
    perspective: 1000px;
    background: rgba(0, 0, 0, 0.8);
    transition: all 2s ease;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flip-card-front {
    background-color: transparent;
    color: black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flipado {
    transform: rotateY(180deg);
}

.flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}