.body_inicio {
    background-image: url("/Imagens/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.div_inicio {
    padding: 30px 30px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 5px solid white;
    color: white;
    
}